<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" th:href="@{/img/favicon.ico}">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login_reg.css}"/>

    <title>Создать новый документ | ODE</title>
</head>

<body>
<nav th:replace="/parts/navbar :: navbar"></nav>

<div class="p-2"></div>
<div class="container">
    <form method="POST" class="form-signin" th:object="${document}" th:action="@{/doc/new}">
        <h2 class="form-signin-heading text-center">Создать аккаунт</h2>
        <div class="form-group">
            <input type="text" th:field="*{name}" class="form-control mb-1" placeholder="Имя документа" autofocus="true">
            <span class="has-error" th:if="${error != null}" th:text="${error}"></span>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Создать</button>
    </form>
</div>

<footer th:replace="/parts/footer :: footer"></footer>
<script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/5.0.1/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/setActiveNavLink.js}"></script>
</body>
</html>
